# python==3.11
# git+https://github.com/scikit-learn-contrib/MAPIE.git
mapie
pandas
numpy
scikit-learn
PyYAML
catboost
scikit-optimize
matplotlib
tqdm
rdkit
pyarrow
mlflow
lightgbm
tensorflow
google-cloud-storage
dotenv
